.password-container {
    flex: 1;
    overflow: auto;
    display: flex;
    flex-direction: column;
    .form-box {
        overflow: auto;
        .form-item {
            margin: 60rpx;
            .label {
    
            }
            .password-input {
                padding: 20rpx;
                border-bottom: 2rpx #10a25b solid;
            }
            .tag-name {
                color: #10a25b;
                padding: 20rpx;
                border-bottom: 2rpx #10a25b solid;
            }
        }

        .tip {
            color: #666;
            padding: 0 60rpx;
            &:before {
                color: red;
                content: '*';
            }
            .forget-password {
                color: #2e82ff;
            }
        }
    }
}
