.container {
    flex: 1;
    overflow: auto;
    .is-pay {
        .cloud-icon {
            width: 750rpx;
            height: 156rpx;
            padding: 80rpx 0 60rpx;
        }
        .tip {
            text-align: center;
        }
        .btn-box {
            width: 520rpx;
            margin: 80rpx auto 120rpx;
            display: flex;
            .backup-btn {
                color: #fc5126;
                width: 220rpx;
                line-height: 70rpx;
                border-radius: 12rpx;
                background-color: #fff;
                border: 2rpx #fc5126 solid;
            }
        }

        .row-box {
            .row-item {
                line-height: 110rpx;
                padding: 0 50rpx;
                background-color: #fff;
                border-top: 2rpx #F5F5F5 solid;
                display: flex;
                align-items: center;
                justify-content: space-between;
                .name {
                    font-size: 34rpx;
                }
                .more-icon {
                    width: 36rpx;
                    height: 36rpx;
                }
                .contact-btn {
                    width: 100%;
                    opacity: .01;
                    position: absolute;
                    left: 0;
                }
            }
        }
    }

    .no-pay {
        padding: 20rpx 100rpx 100rpx;
        .wechat-pay {
            width: 550rpx;
            height: 755rpx;
        }
        .tip {
            text-indent: 2em;
            padding: 40rpx 0 80rpx;
        }
        .contact-btn {
            width: 400rpx;
            line-height: 80rpx;
            border-radius: 12rpx;
        }
    }
}
