.password-content {
    height: 798rpx;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .title-row {
        padding: 30rpx 40rpx 20rpx;
        border-radius: 30rpx 30rpx 0 0;
        border-bottom: 2rpx #eee solid;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .title {
            flex: 1;
            font-size: 32rpx;
            font-weight: 600;
        }
        .reset {
            color: #576b95;
            font-size: 26rpx;
            cursor: pointer;
        }
    }
    .password-text {
        color: #10a25b;
        width: 670rpx;
        font-size: 34rpx;
        font-weight: 600;
        margin: 30rpx 40rpx;
        text-align: center;
        .password {
            padding: 10rpx 0;
            line-height: 48rpx;
            white-space: nowrap;
            cursor: pointer;
        }
    }
    .picker-checkbox {
        flex: 1;
        margin: 0 40rpx 40rpx 80rpx;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .picker-part {
            width: 200rpx;
            border: 2rpx #ddd solid;
            .picker-content {
                height: 360rpx;
                text-align: center;
                .text {
                    line-height: 68rpx;
                }
            }
        }
        .checkbox-part {
            width: 300rpx;
            .checkbox {
                font-size: 30rpx;
                line-height: 80rpx;
            }
        }
    }
}

// 隐藏滚动条
::-webkit-scrollbar {
    display: none;
}
