.container {
    flex: 1;
    overflow: auto;
    .tag-box {
        padding: 25rpx 40rpx;
        .tag-item {
            padding: 30rpx 0;
            border-bottom: 2rpx #eee solid;
            display: flex;
            align-items: center;
            justify-content: space-between;
            &:last-child {
                border-bottom: 2rpx transparent solid;
            }
            .tag-name {
                flex: 1;
                font-size: 32rpx;
                overflow: hidden; // 超出的文本隐藏
                white-space: nowrap;
                text-overflow: ellipsis; // 溢出用省略号显示
            }
            .icon {
                width: 36rpx;
                height: 36rpx;
                margin-left: 30rpx;
            }
        }
    }
}
